<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jarcheng.mbg.dao.CwUserCoursewareMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jarcheng.mbg.model.dto.CwUserCoursewareDto">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="cw_id" property="cwId"/>
        <result column="create_time" property="createTime"/>
        <association property="courseware" javaType="com.jarcheng.mbg.model.CwCourseware">
            <id column="cw_id" property="id"/>
            <result column="name" property="name"/>
            <result column="price" property="price"/>
            <result column="count" property="count"/>
            <result column="url" property="url"/>
        </association>
    </resultMap>
    <select id="getMyCW" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select cu.id,
               cu.user_id,
               cu.cw_id,
               cu.create_time,
               user_id,
               cw_id,
               cu.create_time,
               name,
               price,
               count,
               url,
               cover,
               is_carousel,
               carousel_url
        from cw_user_courseware cu
                 left join cw_courseware cc on cc.id = cu.cw_id
        where user_id = #{id}
    </select>

</mapper>
