<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jarcheng.mbg.dao.SysRolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jarcheng.mbg.model.SysRolePermission">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="permission" property="permission" />
    </resultMap>

</mapper>
